---
import { BriefcaseBusiness, GraduationCap } from "lucide-astro";
---

<div class="comparison-wrap" tabindex="0" role="region" aria-label="Porównanie Branżowej Szkoły I stopnia i Technikum nr 5">
  <table class="path-comparison">
    <thead>
      <tr>
        <th scope="col">Sprawa</th>
        <th scope="col"><span class="comparison-heading bs"><BriefcaseBusiness size={21} aria-hidden="true" /> BS I</span></th>
        <th scope="col"><span class="comparison-heading t5"><GraduationCap size={21} aria-hidden="true" /> T5</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Status</th>
        <td><strong>Uczeń i pracownik młodociany</strong> zatrudniony przez pracodawcę na podstawie umowy o pracę w celu przygotowania zawodowego.</td>
        <td><strong>Uczeń technikum.</strong> Sama nauka w T5 ani praktyka zawodowa nie oznacza zatrudnienia.</td>
      </tr>
      <tr>
        <th scope="row">Nauka zawodu</th>
        <td>Zajęcia praktyczne u pracodawcy oraz nauka w szkole tworzą jeden proces kształcenia.</td>
        <td>Przedmioty zawodowe i praktyki zawodowe są organizowane w ramach programu szkoły.</td>
      </tr>
      <tr>
        <th scope="row">Najważniejszy dokument</th>
        <td>Umowa o pracę w celu przygotowania zawodowego. Trzeba ją dostarczyć szkole do weryfikacji.</td>
        <td>Szkolne dokumenty praktyk: harmonogram, skierowanie i wymagana dokumentacja.</td>
      </tr>
      <tr>
        <th scope="row">Nieobecność</th>
        <td>Szkołę i pracodawcę zawiadamia się osobno, według odrębnych zasad.</td>
        <td>Nieobecność zgłasza się szkole, a podczas praktyk także opiekunowi zgodnie z instrukcją.</td>
      </tr>
      <tr>
        <th scope="row">Wakacje i wolne</th>
        <td>Ferie szkolne nie są automatycznie urlopem w pracy. Wolnego udziela pracodawca.</td>
        <td>Obowiązuje organizacja roku szkolnego oraz odrębny harmonogram praktyk.</td>
      </tr>
    </tbody>
  </table>
</div>
